<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head('IzoFlex: Колекция')"></head>

<body>
<div th:replace="fragments/menu::menu"></div>
<div class="container-fluid">
    <p th:if="${error}" style="width:60%;margin:auto;" th:text="${error}"
       class="errors alert alert-danger text-center"></p>
    <p th:if="${success}" style="width:60%;margin:auto;" th:text="${success}"
       class="alert alert-success text-center "></p>
    <h2 class="text-center text-white mt-3">Моята колекция</h2>
    <div class="offers row mx-auto d-flex flex-row col-9 justify-content-center">
        <div th:each="item:${items}" th:classappend="${item.isForSale()}?'bg-primary':''" class="card m-2"
             style="width: 12rem;">
            <a th:href="@{/items/info/{param}(param=${item.getId()})}">
                <img style="object-fit: cover;width: 190px;height: 130px;" th:src="${@photoServiceImpl.getPhotoForThumbnail(item.getId())}"
                     class="card-img-top" alt="image">
                <div class="card-body">
                    <p th:text="${item.getName()}" th:classappend="${item.isForSale()}?'text-white':''"
                       class="card-text text-center"></p>
                </div>
            </a>
        </div>
    </div>
    <div class="container mb-4"></div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
