<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:include="fragments/head::head('IzoFlex: Начало')"></head>

<body>
<div th:replace="~{fragments/menu}"></div>

<div class="container">
    <p th:if="${error}" th:text="${error}" class="errors alert alert-danger text-center w-80"></p>
    <p th:if="${success}" th:text="${success}" class="alert alert-success text-center w-80"></p>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="container p-5  justify-content-center"
             style="background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));">
            <div style="font-size: x-large" class="col-lg-10 text-white">
                <p th:text="|Здравейте ${fullName?:''}!|" class="m-3"></p>
                <th:block sec:authorize="hasRole('USER')">
                    <p th:text="${balance}" class="m-3"></p>
                    <p th:text="|В сайта има налични точно ${offerCount}  ${offerCount==1 ?'оферта':'оферти'}.|"
                       class="m-3"></p>
                    <p th:text="|Имате ${itemCount} ${itemCount==1 ?'продукт':'продукти'} във вашата колекция.|"
                       class="m-3"></p>
                    <p th:text="|Имате ${notificationCount} ${notificationCount==1 ?'непрочетена':'непрочетени'} ${notificationCount==1 ?'нотификация':'нотификации'}.|"
                       class="m-3"></p>
                </th:block>
                <th:block sec:authorize="hasRole('ADMIN')">
                    <p th:text="|Общо купени предложения - ${@adminStatisticInterceptor.getBuyRequestCount()}|"
                       class="m-3"></p>
                    <p th:text="|Общо продадени предложения - ${@adminStatisticInterceptor.getSellRequestCount()}|"
                       class="m-3"></p>
                </th:block>
            </div>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}" class="container p-5"
             style="background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));">

            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h2 class="text-uppercase text-white font-weight-bold">Магазин за опаковъчни и изолационни материали</h2>
                    <hr class="divider my-2">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p style="font-size: x-large" class="text-white font-weight-light mb-3">
                       Ние държим на качеството и Вашата заявка е приоритет за нас.</p>

                    <a style="border-radius: 5%" class="btn btn-primary" th:href="@{/users/register}">Регистрирайте се безплатно</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>